.chat
{
    width: 300px;
    padding: 0 20px;
}

.chat__messages
{
    overflow-y: scroll;

    height: 400px;
    margin-bottom: 20px;
}

.chat__buttons
{
    display: flex;
    flex-wrap: wrap;

    margin-top: -5px;
    padding-top: 10px;
}

.chat__buttons > .chat-button
{
    margin-top: 5px;
    margin-right: 8px;
}

.chat__slug
{
    margin-bottom: 20px;

    text-align: center;
}
